<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Let's Bingo</title>
</head>
<body>
  <h1>Let's Bingo</h1>

  <p>
    <!-- TODO: @Оля, эта ссылка должна быть оформлена в виде кнопки -->
    <a href="/admin">Go to admin-panel</a>
  </p>
  <p>
    <a href="/reset-password">Restore account</a>
  </p>
</body>
</html>
